In [23]:
import yfinance as yf

stock_data = yf.download('DAC', start='2014-02-21', end='2024-02-21')
stock_data

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close  Volume
Date
2014-02-21  86.800003  90.440002  86.379997  88.199997  76.762558    1179
2014-02-24  88.339996  90.440002  86.660004  89.599998  77.981026    2021
2014-02-25  89.599998  90.160004  86.660004  88.480003  77.006264    1571
2014-02-26  89.320000  89.739998  86.800003  89.040001  77.493645    1600
2014-02-27  88.199997  89.320000  85.120003  87.360001  76.031494    2164
...               ...        ...        ...        ...        ...     ...
2024-02-13  75.989998  76.440002  74.970001  75.449997  73.291382  110400
2024-02-14  72.650002  74.949997  72.019997  72.570000  70.493774  189800
2024-02-15  72.360001  72.849998  71.660004  72.040001  69.978943  128700
2024-02-16  72.040001  72.500000  71.290001  71.669998  69.619530  106800
2024-02-20  71.639999  71.639999  70.099998  70.860001  68.832703  120800

[2516 rows x 6 columns]

In [24]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0, 1))
scaled_data = scaler.fit_transform(stock_data['Close'].values.reshape(-1,1))

In [25]:
import numpy as np

def create_dataset(data, time_step):
    X, y = [], []
    for i in range(len(data) - time_step - 1):
        X.append(data[i:(i + time_step), 0])
        y.append(data[i + time_step, 0])
    return np.array(X), np.array(y)

In [27]:
time_step = 100
X, y = create_dataset(scaled_data, time_step)

train_size=0.8
X_train, X_test = X[:int(X.shape[0]*train_size)], X[int(X.shape[0]*train_size):]
y_train, y_test = y[:int(y.shape[0]*train_size)], y[int(y.shape[0]*train_size):]

In [ ]:
from keras.models import Sequential
from keras.layers import LSTM, Dense